################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicTacToe.UnitTests/bin
/TicTacToe.UnitTests/obj
/TicTacToe.UnitTests/results
/TicTacToe.UnitTests/TestResults
/IntegrationTests/bin
/IntegrationTests/obj
/TicTacToe.IntegrationTests/bin
/TicTacToe.IntegrationTests/obj
