bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.swp
*.cache
*.DS_Store
*.pyc
*.nupkg
*.log
logs/
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Staging.json
**/appsettings.private.*
.env
.env.local
.DotSettings
/launchSettings.json
/publish/
/.idea/
/node_modules/
/dist/
/out/
/.next/
/.nuget/
/coverage/